.container {
    /* background-color: var(--header-color); */
    background-color: blueviolet;
    height: 6vh;
    width: 'fit-content';
    padding: 2rem;
    display: flex;
    align-items: center;
}