.header {
    background-color: var(--navbar-bg-color);
    height: auto;
    width: 'fit-content';
    padding: 1.8rem 6rem;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color);
}
.header > div {
    width: auto;
    display: flex;
    column-gap: 2rem;
    align-items: center;
    height: auto;
}
.header > div:nth-last-child(-n+1){
    margin-left: auto;
}
.header > div > a {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    text-decoration: none;
    color: inherit;
}
.header > div > a > img {
    height: 1.9rem;
}
.header > div > a > p  {
    margin: 0;
}