.main-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
    justify-content: center;
}
.full-length-crop {
    width: 85%;
    height: 30vh;
    display: grid;
    border-radius: 0.3rem;
    background-color: powderblue;
}
.full-length-crop.right {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}
.right-child {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
}
.image-crop {
    height: inherit;
    border-radius: inherit;
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1;
}
.full-length-crop > div > p {
    font-size: 1.6rem;
    color: black;
    margin: 0;
    text-align: center;
}
.full-length-crop > div > button {
    font-size: 1.2rem;
    border: 0;
    background-color: #6F6868;
    color: white;
    width: auto;
    height: auto;
    padding: 0.2rem 0.8rem;
    border-radius: 0.2rem;
}
