.full-view {
    height: 80vh;
    width: 100%;
    margin: 0 0 40vh 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}
.full-view > img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.full-view > p {
    height: fit-content;
    width: 20rem;
    font-size: 3.6rem;
    color: var(--secondary-color);
    font-weight: 500;
    text-align: right;
    top: 10vh;
    right: 7.5%;
    position: relative;
    margin: 0;  
    z-index: 2;
}
.middle-view {
    height: auto;
    min-width: 40rem;
    width: 60%; 
    display: flex;
    background-color: white;
    position: absolute;
    top: 70vh;
    border-radius: 1rem;
    padding: 1rem;
    transform: translate(-50%, 0); 
    left: 50%;
    z-index: 2;
}
/*
.middle-view::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 1rem;
    z-index: -10;
    box-shadow: 0 0 1rem 10px rgba(0, 0, 0);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.355);
}   
*/        
.middle-view > p {
    color: #664E4C;
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
}
.views-container {
    height: auto;
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8vh 0;
    column-gap: 3rem;
    row-gap: 3rem;
}
.half-view {
    height: 25vh;
    width: 20rem;
    background-color: transparent;
    border-image-slice: 1;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}
.half-view::before {
    content: '';
    top: -0.5rem;
    left: -0.5rem;
    bottom: -0.5rem;
    right: -0.5rem;
    position: absolute;
    z-index: -2;
    border-radius: 0.5rem; 
    box-shadow: 0 0 0 2px #FFFFF2;
    background-clip: padding-box, border-box;
}
.half-view > p {
    font-size: 1.7rem;
    color: #FFFFF2;
    margin: 0;
    min-width: 90%;
    white-space: pre-line;
}
.half-view > button {
    color: #567568;
    background-color: #FFFFF2;
    border-radius: 2rem;
    border: 0px solid transparent;
    font-size: 1.2rem;
    padding: 0.1rem 0.75rem;
    transition: 1s transform ease-out;
}
.half-view > button:hover {
    transform: scale(1.025);
}

.shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0rem;
    left:0;
    /* border-radius: inherit; */
    z-index: -10;
}