:root {
  --navbar-bg-color: #00A9A5; /* #09BC8A; */
  --color: black; 
}

body {
  /* font-family: Arial, sans-serif; */
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}